.project-container
  position: relative

.project
  padding: 100px 40px 0

.project__inner
  max-width: 1600px
  margin: auto
  +clr

.project__heading
  text-align: center
  margin-bottom: 70px
  .h4
    margin-top: 15px

.project__picture
  float: left
  width: 60%
  > img
    display: block
    max-width: 100%

.project__about
  float: right
  width: 40%
  padding: 100px 0 0 70px
  box-sizing: border-box

.project__about-line
  width: 58px
  height: 6px
  margin: 25px 0
  background: #00c6ca

.project__description
  margin: 30px 0 40px
  line-height: 2
