<!-- BEGIN intro -->
<div class="intro">
  <div class="intro__center">

    <div class="intro__triangle">
      {{mixins.svgicon('triangle')}}
    </div>

    <div class="intro__parallax">

      <div class="intro__parallax-layer-1">
        <div class="intro__row intro__row_1">
          {{mixins.svgicon('char_c')}}
          {{mixins.svgicon('char_o')}}
          {{mixins.svgicon('char_m2')}}
          {{mixins.svgicon('char_i')}}
          {{mixins.svgicon('char_n2')}}
          {{mixins.svgicon('char_g')}}
        </div>
        <div class="intro__row intro__row_2">
          {{mixins.svgicon('char_s', 'char-placeholder')}}
          {{mixins.svgicon('char_o', 'char-placeholder')}}
          {{mixins.svgicon('char_o2')}}
          {{mixins.svgicon('char_n')}}
        </div>
      </div>

      <div class="intro__parallax-layer-2">
        {{mixins.svgicon('front_a', 'char-a-back')}}
        {{mixins.svgicon('front_a', 'char-a-front')}}
      </div>

      <div class="intro__parallax-layer-3">
        <div class="intro__row intro__row_2">
          {{mixins.svgicon('char_s')}}
          {{mixins.svgicon('char_o')}}
          {{mixins.svgicon('char_o2', 'char-placeholder')}}
          {{mixins.svgicon('char_n', 'char-placeholder')}}
        </div>
      </div>

    </div>

    <div class="intro__main-text">
      <h1 class="h1">Alto combines marketing and design to create brands that lasts.</h1>

      {{mixins.btnLink('View projects', 'btn_light')}}
    </div>

  </div>

  <div class="intro__footer">
      <div class="scroll-down">
        <span class="scroll-down__text">Scroll down</span>
        {{mixins.svgicon('mouse')}}
      </div>
    </div>
</div>
<!-- END intro -->
