<!-- BEGIN intro -->
<div id="intro" class="intro">
  <div class="intro__links">
    {% include "_links.html" %}
  </div>

  <div class="intro__center">

    <div class="intro__triangle">
      {{mixins.svgicon('triangle')}}
    </div>

    <div class="intro__parallax">
      <div class="intro__row intro__row_1">
        {{mixins.svgicon('char_c', 'char-1')}}
        {{mixins.svgicon('char_o', 'char-2')}}
        {{mixins.svgicon('char_m2', 'char-3')}}
        {{mixins.svgicon('char_i', 'char-4')}}
        {{mixins.svgicon('char_n2', 'char-5')}}
        {{mixins.svgicon('char_g', 'char-6')}}
      </div>
      <div class="intro__row intro__row_2">
        {{mixins.svgicon('char_s', 'char-7')}}
        {{mixins.svgicon('char_o', 'char-8')}}
        {{mixins.svgicon('front_a', 'char-a-front')}}
        {{mixins.svgicon('char_o2', 'char-9')}}
        {{mixins.svgicon('char_n', 'char-10')}}
      </div>
    </div>

    <div class="intro__footer">
      <p>Scroll down</p>
      {{mixins.svgicon('mouse')}}
    </div>

  </div>
</div>
<!-- END intro -->
