.svg-back_a {
  width: 0.9534883720930233em;
  height: 1em;
  fill: #E46363;
}
.svg-behance {
  width: 1em;
  height: 1em;
  fill: #4A4A4A;
}
.svg-char_c {
  width: 0.9230769230769231em;
  height: 1em;
  fill: #FFF;
}
.svg-char_g {
  width: 0.9487179487179487em;
  height: 1em;
  fill: #FFF;
}
.svg-char_i {
  width: 0.2549019607843137em;
  height: 1em;
  fill: #FFF;
}
.svg-char_m {
  width: 1.0980392156862746em;
  height: 1em;
  fill: #FFF;
}
.svg-char_m2 {
  width: 0.5490196078431373em;
  height: 1em;
  fill: #FFF;
}
.svg-char_n {
  width: 0.9215686274509803em;
  height: 1em;
  fill: #FFF;
}
.svg-char_n2 {
  width: 0.6993464052287581em;
  height: 1em;
  fill: #FFF;
}
.svg-char_o {
  width: 1.064102564102564em;
  height: 1em;
  fill: #FFF;
}
.svg-char_o2 {
  width: 0.967948717948718em;
  height: 1em;
  fill: #FFF;
}
.svg-char_s {
  width: 0.8397435897435898em;
  height: 1em;
  fill: #FFF;
}
.svg-circle {
  width: 1em;
  height: 1em;
  fill: #E46363;
}
.svg-dribbble {
  width: 1em;
  height: 1em;
  fill: #4A4A4A;
}
.svg-front_a {
  width: 0.9534883720930233em;
  height: 1em;
  fill: #E46363;
}
.svg-mail {
  width: 1em;
  height: 1em;
  fill: #4A4A4A;
}
.svg-mouse {
  width: 0.6935483870967742em;
  height: 1em;
  fill: #4A4A4A;
}
.svg-triangle {
  width: 0.9em;
  height: 1em;
  fill: #E46363;
}
